html,
body {
  margin: 0px;
  background-color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 750px;
  margin: 5em auto;
}

.header {
  text-align: center;
  color: #999;
}

.todo-item {
  background-color: #fff;
  position: relative;
  margin: 15px 0px;
  padding: 1em 2em;

  border-radius: 29px 29px 29px 29px;
  -moz-border-radius: 29px 29px 29px 29px;
  -webkit-border-radius: 29px 29px 29px 29px;

  border: 0px solid #000000;

  -webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.04);
  -moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.04);
  box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.04);
}

.todo-item.complete {
  color: #999;
  text-decoration: line-through;
}

.todo-item span {
  position: absolute;
  right: 1em;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

input[type="text"] {
  width: 100%;
  padding: 1em 2em;
  margin-bottom: 3em;
  box-sizing: border-box;

  border-radius: 29px 29px 29px 29px;
  -moz-border-radius: 29px 29px 29px 29px;
  -webkit-border-radius: 29px 29px 29px 29px;
  border: 1px;

  -webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.10);
  box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.10);
}

.footer {
  color: #999;
  text-align: center;
  margin-top: 3em;
}

#delete-completed-tasks {
  text-decoration: underline;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
